* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../Images/home.png");
}
nav {
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  color: #f57c48;
  transition: 0.5s;
}
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.heading {
  background-image: url("../Images/home1.png");
  height: 600px;
  width: 90%;
  position: absolute;
  left: 80px;
}
.heading h1 {
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  margin-top: 170px;
  font-family: "Raleway", sans-serif;
}
.heading p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 400px;
}
.button1 {
  border-radius: 40px;
  padding: 15px 30px;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  border-color: #d12bec;
  color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
}
.button2 {
  border-radius: 40px;
  padding: 15px 30px;
  background: transparent;
  border-color: #d12bec;
  color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
}
